body {
  background-color: #f5ece2;
  overflow: hidden;
  background-image: url(/images/background-2.png);
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
}

header {
  background-color: #ddc3a5;
  margin: 0;
  padding: 2px;
  font-family: "Poppins", sans-serif;
}

form {
  position: relative;
  margin: 20px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  border-radius: 15px;
  font-family: "Titillium Web", sans-serif;
}

form img {
  height: 160px;
  width: 160px;
  position: relative;
  left: 70px;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  display: inline;
}

#one {
  background: #e0a96d;
  color: white;
}

#two {
  color: #e0a96d;
}

#two:hover {
  color: white;
  background-color: #e0a96d;
}

#mic,
#gog {
  text-align: left;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#gog {
  margin-bottom: 10px;
}

#typographic-logo {
  font-weight: bold;
  margin: 5px;
  text-align: center;
  color: #f2a000;
  font-size: 17px;
}

.form2-control {
  border-color: black;
  transition: all ease-in-out 200ms;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

.form2-control:hover {
  background-color: #cbe8ff;
}

.form2-control:hover::before {
  animation: cursor-blink 1s infinite;
}

.form2-control::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 80%;
  background-color: #000;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.form2-control:hover::before {
  opacity: 1;
}

.hs {
  border: none;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  font-size: 12px;
  position: relative;
  left: 80%;
}

.conti {
  transition: all ease-in-out 200ms;
}

button.conti i {
  margin-right: 10px;
}

.interface-cont {
  text-align: center;
  margin-top: 6%;
}

.btn-next {
  color: white;
  background-color: #f2a000;
  border-radius: 10px;
  border: none;
  padding: 5px 0 5px;
  width: 100%;
}

.conti:hover,
#two:hover {
  background-color: #e0a96d;
  color: white;
  cursor: pointer;
}

#one:hover {
  background-color: white;
  color: #e0a96d;
  cursor: pointer;
}

.input-icon {
  position: relative;
}

.input-icon input {
  padding-left: 30px;
}

.input-icon i {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#or {
  display: block;
  opacity: 0.7;
}

span {
  text-align: center;
}

h4 {
  margin-top: 10px;
  text-align: center;
  color: #f2a000;
}

.tp {
  font-weight: 600;
  color: #f2a000;
}

.mb-4 #phrase1 {
  margin-left: 25px;
  opacity: 0.7;
}

.mb-4 p,
.mb-4 span {
  font-size: 12px;
  display: inline;
  margin-top: 0;
  opacity: 0.7;
}

.footer {
  background: #f5ece2;
  margin-top: 5px;
  height: 100px;
  color: black;
  font-size: 12px;
}

.footer-wrapper {
  margin: 0 auto;
  width: 900px;
}

hr {
  margin: 0px;
  margin-bottom: 10px;
}

.footer-text {
  opacity: 0.5;
  font-size: smaller;
  text-align: left;
  margin: 0px;
}

.social-icons {
  text-align: right;
  opacity: 0.5;
}

.social-icons i {
  margin-left: 5px;
}
