* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  overflow: hidden;
}

.wrapper {
  /*border: red solid 1px;*/
  background-color: #f5ece2;
  position: relative;
  width: 1534px;
  height: 800px;
}

.main-content {
  position: absolute;
  left: 340px;
  /*border: blue solid 1px;*/
  width: 1193px;
  height: 800px;
}

button {
  border: none;
  background-color: transparent;
}

#admin,
#fin,
#settings,
#print,
#settings,
#status {
  color: black;
  text-decoration: none;
}

#out {
  color: #e0a96d;
  border: none;
  text-decoration: none;
}

#title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}

#rectangle-line {
  background: #f2a000;
  font-size: 5px;
  position: absolute;
  top: 80px;
  left: 85px;
  padding-right: 70px;
}

.status {
  position: absolute;
  top: 55px;
  left: 410px;
  width: 1050px;
  height: 600px;
  /*border: 1px green solid;*/
}

.entries {
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 25px;
}

.search {
  border-radius: 5px;
  width: 240px;
}

.top-row {
  color: white;
  background-color: #e8c49c;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-left: 2px !important;
  margin-right: 2px !important;
  margin-bottom: 10px;
  margin-top: 20px !important;
}

.info-row {
  background-color: #faf6f1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-left: 2px !important;
  margin-right: 2px !important;
  margin-top: 10px !important;
}

.cod,
.ongoing,
.to-ship {
  color: white;
  background-color: #f2a000;
  border-radius: 5px;
  margin-top: 10px;
}

.paid,
.printed,
.delivered {
  color: white;
  background-color: green;
  border-radius: 5px;
  margin-top: 10px;
}

.pending {
  color: white;
  background-color: maroon;
  border-radius: 5px;
  margin-top: 10px;
}

.eye {
  padding-right: 10px;
  padding-top: 7px;
}

.view {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#view {
  padding-top: 0;
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 16px;
}

.bot-row-format {
  margin-top: 30px !important;
}

.logo {
  width: 60%;
}

.nav-bar {
  background-color: #fcfaf7;
  width: 340px;
  height: 800px;
  padding: 20px;
  padding-top: 5px;
  margin-right: 10px;
}

.log-out-nav-bar {
  color: #e0a96d;
}

.selection {
  background-color: #f5ece2;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 5px;
  font-size: 20px;
}

.p-2 {
  padding: 0.75rem !important;
}

.btn-icon {
  font-size: 30px;
  padding: 3px;
  padding-top: 10px;
  text-align: justify;
}

.selected {
  background: #f6c668;
}

.nav-bar-title {
  padding-top: 10px;
  text-align: left;
}

#log-out {
  font-size: 20px;
  background: none;
  color: #e0a96d;
  font-weight: lighter;
}
