* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  overflow: hidden;
}

.wrapper {
  /*border: red solid 1px;*/
  background-color: #f5ece2;
  position: relative;
  width: 1534px;
  height: 800px;
}

.main-content {
  position: absolute;
  left: 340px;
  /* border: blue solid 1px; */
  width: 1193px;
  height: 800px;
}

.nav-bar {
  background-color: #fcfaf7;
  width: 340px;
  height: 800px;
  padding: 20px;
  padding-top: 5px;
  margin-right: 10px;
}

.log-out-nav-bar {
  color: #e0a96d;
  margin-top: -30px;
}

.admin {
  position: absolute;
  top: 55px;
  left: 410px;
  width: 1000px;
  height: 600px;
  /* border: 1px green solid; */
}

button {
  border: none;
  background-color: transparent;
}

#admin,
#fin,
#settings,
#print,
#settings,
#status {
  color: black;
  text-decoration: none;
}

#out {
  color: #e0a96d;
  border: none;
  text-decoration: none;
}

.logo {
  width: 60%;
}

.selection {
  background-color: #f5ece2;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 5px;
  font-size: 20px;
}

.p-2 {
  padding: 0.75rem !important;
}

.btn-icon {
  font-size: 30px;
  padding: 3px;
  padding-top: 10px;
  text-align: justify;
}

.selected {
  background: #f6c668;
}

.nav-bar-title {
  padding-top: 10px;
  text-align: left;
}

#log-out {
  font-size: 20px;
  background: none;
  color: #e0a96d;
  font-weight: lighter;
}

#title {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

#print {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: transparent;
}

#list {
  /*border: 1px green solid;*/
  margin-top: 30px;
  margin-bottom: 30px;
}

#reminder {
  font-size: small;
  text-align: left;
}

.numbers {
  font-size: 45px;
  font-weight: 600;
}

.details {
  font-weight: 500;
}

.orders {
  /* border: 1px yellow solid; */
  background: white;
  border-radius: 15px;
  height: 250px;
  padding-top: 12px;
}

.separate {
  border-right: 1px black solid;
}
